@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg {
  margin-top: 100%;
  background: url("/images/bg.png");
  background-position: center;
  background-size: cover;
  height: 60%;
}

.bg button {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 20em;
}

.background {
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
  z-index: -2;
}

body, html {
  font-family: Montserrat;
  font-weight: 100;
  height: 100%;
  margin: 0;
}

body h1, html h1 {
  font-size: 4em;
  margin: 0;
}

body p, html p {
  margin: 0px 0px 2em 0;
  font-size: 1.3em;
}

section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0988ff, #096bff);
  z-index: -1;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-out 0.2s forwards;
          animation: fadeIn 1.5s ease-out 0.2s forwards;
}

.title {
  text-align: center;
  font-size: 4em;
  padding: 0;
  margin: 0;
  color: white;
  -webkit-animation: fadeIn 1.5s ease-out 0.2s forwards;
          animation: fadeIn 1.5s ease-out 0.2s forwards;
  opacity: 0;
}

.center-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 15em;
}

.subtitle {
  text-align: center;
  color: white;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-out 0.2s forwards;
          animation: fadeIn 1.5s ease-out 0.2s forwards;
}

.nav-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  float: right;
  text-decoration: none;
  display: inline-block;
  padding: 0.9em 0.9em 0em 0.9em;
  height: 35px;
  color: white;
}

.nav-button:hover {
  background: rgba(0, 0, 0, 0.404);
}

.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
}

.mainCol {
  background: #0180f6;
  color: white;
}

button {
  background: white;
  color: black;
  border: 0;
  padding: 0.8em 2em;
  font-size: 1.2em;
  border-radius: 4px;
  margin: 10px;
  -webkit-box-shadow: 0px 5px 10px #555555;
          box-shadow: 0px 5px 10px #555555;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button:hover {
  -webkit-box-shadow: 0px 5px 30px #333333;
          box-shadow: 0px 5px 30px #333333;
}

.button-group {
  text-align: center;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-out 0.2s forwards;
          animation: fadeIn 1.5s ease-out 0.2s forwards;
}

h1 {
  font-weight: 100;
}

.main-title {
  margin-left: 10%;
  color: black;
}

.center {
  padding: 20% 0%;
  text-align: center;
}

.wide {
  padding: 0.8em 30%;
  -webkit-box-shadow: 0px 5px 10px #555555;
          box-shadow: 0px 5px 10px #555555;
  background: linear-gradient(124deg, #f83b74, #ffc400, #17ec70, #0ab7ec, #f300be);
  background-size: 1000% 1000%;
  color: white;
  -webkit-animation: rainbow 12s ease-in-out infinite alternate;
          animation: rainbow 12s ease-in-out infinite alternate;
}

.wide:hover {
  -webkit-box-shadow: 0px 5px 30px #333333;
          box-shadow: 0px 5px 30px #333333;
}

p {
  margin-right: 10% !important;
  margin-left: 10% !important;
}

.prog-lang {
  text-decoration: none;
  list-style: none;
  margin-left: 10%;
  font-size: 1.5em;
}

ul {
  padding: 0;
}
